.specials {
    background-color: aquamarine;
}

@media screen and (min-width: 993px){
    .specials {
    background-color: azure;
    }
}

/*#header{
    text-align: center;
}*/



body{
    font-family: 'Cabin';
    color: rgba(0, 0, 0, 0.137);
    background-color: rgb(149, 197, 238);
    padding: 0px 80px;
}


.navigation{
    background-color: rgb(83, 167, 153);
    padding: 40px 390px;
}

.navigation a {
    padding: 5px 5px;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: white;
}

.footer {
    background-color: rgb(83, 167, 153);
    padding: 10px 10px;
    text-align: center;
}
/*
rgb(120, 196, 183)
*/


.footer a {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: rgb(205, 237, 241);
}
/*rgb(211, 221, 157)*/

.boxed {
    background-color: rgb(181, 211, 238);
    border: 2px dotted rgb(245, 245, 245);
    padding: 10px;
    margin: 3; 
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    color: rgb(0, 0, 0);
  }